$black : rgb(21, 24, 24);
$white: rgb(231, 231, 231);
$green: rgb(193, 255, 105);
$crazy-green: rgb(158, 242, 40);
$orange: rgb(255, 193, 132);

@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

// Icones 
@import url("https://css.gg/css");

html {
	background-color: $green;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100vh;
	font-family: 'Lato', sans-serif;
	font-size: 17px;

	body, main{
		width: 100%;
	}
}

section{
	display: block;
	background-color: $black;
	border-radius: 25px;
	margin: 30px;
	padding: 40px 45px;
	color: $white;
}

.not-found{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.text-white{
	color: $white;
}

.text-black{
	color: $black;
}

.text-green{
	color: $green;
}

.bg-white{
	background-color: $white;
}

.bg-black{
	background-color: $black;
}

.bg-green{
	background-color: $green;
}

.hightlight-black{
	background-color: $black;
	padding: 10px 15px;
}

.hightlight-green{
	background-color: $green;
	padding: 10px 15px;
}

.hightlight-white{
	background-color: $white;
	padding: 10px 15px;
}

h1 {
	font-family: 'Arvo', serif;
	font-weight: 600;
	font-style: normal;
	font-size: 35px;
	margin-bottom: 0;
}

h2 {
	font-family: "Lato", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.arvo-regular {
	font-family: "Arvo", serif;
	font-weight: 400;
	font-style: normal;
}

.arvo-bold {
	font-family: "Arvo", serif;
	font-weight: 700;
	font-style: normal;
}

.arvo-regular-italic {
	font-family: "Arvo", serif;
	font-weight: 400;
	font-style: italic;
}

.arvo-bold-italic {
	font-family: "Arvo", serif;
	font-weight: 700;
	font-style: italic;
}

.lato-thin {
	font-family: "Lato", sans-serif;
	font-weight: 100;
	font-style: normal;
}

.lato-light {
	font-family: "Lato", sans-serif;
	font-weight: 300;
	font-style: normal;
}

.lato-regular {
	font-family: "Lato", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.lato-bold {
	font-family: "Lato", sans-serif;
	font-weight: 700;
	font-style: normal;
}

.lato-black {
	font-family: "Lato", sans-serif;
	font-weight: 900;
	font-style: normal;
}

.lato-thin-italic {
	font-family: "Lato", sans-serif;
	font-weight: 100;
	font-style: italic;
}

.lato-light-italic {
	font-family: "Lato", sans-serif;
	font-weight: 300;
	font-style: italic;
}

.lato-regular-italic {
	font-family: "Lato", sans-serif;
	font-weight: 400;
	font-style: italic;
}

.lato-bold-italic {
	font-family: "Lato", sans-serif;
	font-weight: 700;
	font-style: italic;
}

.lato-black-italic {
	font-family: "Lato", sans-serif;
	font-weight: 900;
	font-style: italic;
}

button{
	font-family: "Arvo", sans-serif;
	font-style: normal;
	background-color: $green;
	color: $black;
	border: none;
	border-radius: 5px;
	padding: 15px 25px;
	cursor: pointer;
	font-weight: 600;
	font-size: 18px;
	margin-top: 20px;
	display: flex;
	align-items: center;
	transition: all 0.1s ease-in-out;
	cursor: pointer;

	&:hover{
		background-color: $black;
		color: $green;
		outline: 3px solid $green;
	}

	i{
		font-weight: 600;
		margin-right: 10px;
	}

	&.secondary{
		background-color: $black;
		color: $white;

		i{
			margin-left: 10px;
		}
	}
}

.quizz-header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;

	h1{
		margin: 0;
	}

	button{
		margin: 0;
		padding: 5px;
	}
}

.results{
	display: flex;
	flex-direction: column;

	.question{
		margin: 5px 0;
		padding: 15px 20px;
		border-radius: 4px;
		background: $white;
		color: $black;
	}
}

.flex-container{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

i{
	font-size: 30px;
	margin-right: 10px;
}

hr{
	margin: 20px 0;
	opacity: .2;
}

.question-input-section{
	display: flex;
	flex-direction: column;

	input[type="text"], input[type="url"]{
		padding: 15px 10px;
		border-radius: 5px;
		border: none;
		margin: 10px 0;
		font-size: 20px;
		min-width: 50%;
	}

	.input-radio{
		margin: 10px 0;
		display: flex;
		align-items: center;
		border: 1px solid $white;
		padding: 10px;
		border-radius: 5px;
		min-width: 200px;

		&:hover{
			background-color: $white;
			color: $black;
			cursor: pointer;
		}
		
		input[type="radio"]{
			margin-right: 10px;
		}
	}
}

.italic {
	font-style: italic;
}

code{
	background-color: $black;
	color: $white;
	padding: 5px;
	border-radius: 5px;
	margin: 5px;
	display: inline-block;
}

.answer-check{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	padding: 10px;
	border-radius: 5px;

	&.ok{
		background-color: $green;
		color: $black;
	}

	&.not-ok{
		background-color: $orange;
		color: $black;
	}
}

.answer-option{
	margin: 10px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgb(211, 211, 211);
	padding: 10px;
	border-radius: 5px;

	&.answer-valid{
		background-color: $green;
		border-color: #9acc54;
	}
}

.answer-line{
	display: flex;
}

.answer-check-explanation{
	float: right;
	font-size: 12px;
}

.selected-answer{
	background-color: rgb(200, 200, 200);

	&:not(.answer-valid){
		border-color: $orange;
		background-color: $orange;
	}
}